.todos {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.todosList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todo {
  display: flex;
  border: 1px solid black;
  padding: 12px;
  gap: 12px;
  align-items: center;
}

.todo p {
  margin: 0;
  flex: 1;
}

.button {
  appearance: none;
  background: none;
  font-size: 24px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}
.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.addTodo {
  display: flex;
  gap: 12px;
}
