.DS_Store
*.log
node_modules
# Dist and query are both build output folders
dist*/
!query/
# But don't ignore the RTK Query source
!src/query/
lib
es
yarn.lock
.yalc
yalc.lock

.idea/
.vscode/
temp/
.tmp-projections
build/
.rts2*

typesversions
.cache
.yarn
.yarnrc
