.DS_Store
*.log
node_modules
# Dist and query are both build output folders
dist
!query/
# But don't ignore the RTK Query source
!src/query/
lib
es
yarn.lock


.idea/
.vscode/
temp/
.tmp-projections

.rts2*

typesversions
.cache
.yarn
.yarnrc
