dist/
temp/
tmp/
__testfixtures__/
build/
lib/

.yalc
yalc.lock
yalc.sig

.idea/
.vscode/
.tmp-projections
coverage/

typesversions
.cache
.yarnrc
.yarn/*
.yarn/releases
**/.yarn/cache
.pnp.*
*.tgz

tsconfig.vitest-temp.json
.eslintcache

.docusaurus/
.next/
