dist/
etc/
temp/
__testfixtures__/
build/

.yalc
yalc.lock
yalc.sig

.idea/
.vscode/
temp/
.tmp-projections
coverage/

typesversions
.cache
.yarnrc
.yarn/*
!.yarn/releases
**/.yarn/cache
.pnp.*
*.tgz

tsconfig.vitest-temp.json
.eslintcache
