.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: 48px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  font-size: 24px;
  margin-left: 4px;
  margin-right: 8px;
  cursor: pointer;
  color: rgb(112, 76, 182);
  background-color: rgba(112, 76, 182, 0.1);
  border: 2px solid transparent;
  border-radius: 2px;
}
