.main {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 780px) {
  .main {
    max-width: 700px;
  }
}

h1 {
  text-align: center;
}

.dark body {
  background: var(--main-background);
}
