body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem 0;
}

@media screen and (min-width: 780px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2,
h3 {
  margin: 0.5rem 0;
}

h4,
h5,
h6 {
  font-size: 1.2rem;
  margin: 0;
}

.main {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 780px) {
  .main {
    max-width: 720px;
  }
}

.dark body {
  background: var(--main-background);
}
